/*#517970 para sidebar*/
/*#2f3d46 para fondo*/
body {
  font-family: 'Poppins', sans-serif;
  background: #2f3d46;
  padding: 0;
  margin: 0;
}
a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}
.navbar {
  background: #517970 !important;
  width: 100%;
}
.title-index {
  color: #ffffff;
  text-align: center;
  margin: 20px 0;
}
.title-index p {
  color: #ffffff;
}
.cadmin {
  margin-top: 40px !important;
  color: #ffffff;
}
.card {
  background-color: #517970 !important;
  margin-top: 10px !important;
  color: white !important;
}
.card h5 {
  color: white !important;
}
.card h6 {
  color: white !important;
}
.card p {
  color: white !important;
}
.puser {
  text-align: center;
  color: #ffffff;
}
.puser h3 {
  margin-top: 15px;
}
.tabsuser {
  margin: 30px 0;
  background: white;
}
.bioper {
  margin: 30px 7px;
  font-size: 18px;
  color: white;
}
.bioper p {
  color: white;
}
.formbots {
  border: 1.5px solid red;
  margin: 40px 10%;
  padding: 10px 10px;
  color: white;
}
.form-text {
  color: white;
}
.formuserp {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.formuserp h5 {
  color: white;
  text-align: center;
  margin: 20px 0;
}
.balign {
  margin: 0 auto;
  display: block;
}
.content-body-title {
  text-align: center;
  padding: 120px 0px 0px 0px;
}

.content-body-title p {
  color: white;
  background-color: #323333dc;
  padding: 15px;
  font-size: 15px;
  font-weight: 600;

}
.content-body-areatextContent .img-adaptable {
  width: 80%;
  margin-left: 20px;
  -webkit-box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14),
  0 9px 46px 8px rgba(0, 0, 0, 0.12),
  0 11px 15px -7px rgba(0, 0, 0, 0.2);
  box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14),
  0 9px 46px 8px rgba(0, 0, 0, 0.12),
  0 11px 15px -7px rgba(0, 0, 0, 0.2);
}

.content-body-areatextContent .img-invite {
  width: 400px;

}
@media only screen and (max-width: 1024px) {
  .content-body-title p {
    font-size: 12px;
  }
  .content-body-areatextContent .img-adaptable {
    width: 100%;
    margin-left: 0px;

  }

}


@media only screen and (max-width: 460px) {
  .content-body-title p {
    font-size: 8px;
  }
}

@media only screen and (max-width: 420px) {
  .content-body-title p {
    font-size: 0px;
  }
}
@media only screen and (max-width: 870px) {
  .content-body-title p {
    font-size: 10px;
  }
  .content-body-areatextContent .img-invite {
    width: 350px;
  }
  .rowMain .rowModalImage .body-modal {
    margin: 9% 0% 25%;
  }
}
.gcard {
  margin-top: 20px;
}
.acorguia {
  background: #517970;
  margin-top: 20px;
  color: white;
}
.acorguia button {
  color: white;
}
.sqltxt {
  padding: 15px 0;
  color: white;
  text-align: center;
}
.circles {
  width: 50% !important;
}
.roles {
  color: white;
  text-align: center;
}
ul {
  font-size: 20px;
}
li {
  margin: 0
}
.iconl {
  margin-right: 7px;
}
.iconbox {
  border: 2px solid #2f3d46;
  box-shadow: -2px 0px 8px 2px black;
}
.iconp {
  padding: 2px;
}
.bg-fondo {
  background: #2f3d46;
}
.bots {
  float: right;
  border-radius: 10px;
}
.bots:hover {
  background: #517970;
}
.txtc {
  display: flex;
  align-items: center;
  justify-content: center;
}
.nivel {
  transform: translate(-45px,40px);
  width: 3rem;
  height: 3rem;
  text-align: center;
  border: 2px solid red;
  background: #517970 !important;
}
.textnivel {
  line-height: 2rem;
  font-size: 20px;
}