<div class="roles">
  <h2>Nuestros roles en el seecidor de Discord</h2>
</div>


<div class="row row-cols-1 row-cols-md-2 g-4">
  <div class="col">
    <div class="card h-100">
      <div class="card-body">
        <h5 class="card-title">Bot Developer</h5>
        <p class="card-text">
          ¿Creas bots para servidores de Discord?
          <br>
          <pre><code class="language-javascript"> -addrol 🤖</code></pre>
        </p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <div class="card-body">
        <h5 class="card-title">Web Developer</h5>
        <p class="card-text">
          ¿Dominas HTML, CSS? ¿Creas diseños en front-end? ¿Conoces los frameworks y librerías de JS o PHP?
          <br>
          <pre><code class="language-javascript"> -addrol 🖥</code></pre>
        </p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <div class="card-body">
        <h5 class="card-title">App Developer</h5>
        <p class="card-text">
          ¿Creas softwares o scripts? ¿O aplicaciones moviles? ¿Por que no incluso videojuegos?
          <br>
          <pre><code class="language-javascript"> -addrol 📱</code></pre>
        </p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <div class="card-body">
        <h5 class="card-title">Fotógrafo</h5>
        <p class="card-text">
          ¿Eres fotógrafo y quieres mostrar tus trabajos a los demas?¿Y quieres que te den consejos ?
          <br>
          <pre><code class="language-javascript"> -addrol 📸</code></pre>
        </p>
      </div>
    </div>
  </div>
</div>