
  <div class="row gcard">
    <div class="col-6 col-md-6">
      
      <div class="content-body-areaOptionps">
      <a href="/mysql">
        <div class="content-body-areaOptionps-selection-1 hoverable">
          <div class="content-body-title">
            <p>
              GUIA MYSQL
            </p>
          </div>
        </div>
      </a>
    </div>
      
    </div>
    <div class="col-6 col-md-6">
      
      <div class="content-body-areaOptionps">
      <a href="/mongodb">
        <div class="content-body-areaOptionps-selection-2 hoverable">
          <div class="content-body-title">
            <p>
              GUIA MONGODB
            </p>
          </div>
        </div>
      </a>
    </div>
      
    </div>
  </div>