
  <div class="title-index">
    <h3>Portal Fomundi</h3>
    <br>
    <h5>Que es PortalFomundi?</h5>
    <p>
      PortalFomundi es una web diseñada para el listado de bots de discord, tambien esta diseñado para el aprendizaje de todos los de la comunidad y nuevos, ai quieres saber mas de la comunidad te invito a que le des click al siguiente boton para entrar.
    </p>
    <br>
    <a class="btn btn-primary border border-danger btn-lg" href="https://discord.gg/tQYNVCw" target="_blank">Entrar al server</a>
  </div>
  
  <div class="cadmin">
    
  </div>